body {
  background-image: url('../bg.gif');
}

.well {
  margin-top: 50px;
  margin-bottom: 100px;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 4em;
}

.btn {
  font-size: 2em;
  height: 70px
}

.counter {
  text-align: center;
  margin: 50px 20px;
}

.counter img {
  margin: 5px;
}